# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# Visual Studio
.vs/
*.user
*.suo
*.cache
*.dll
*.pdb
*.exe

# NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
*.snupkg

# OS
Thumbs.db
.DS_Store

# User-specific files
*.rsuser
*.sln.docstates
